body {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;
    background-image: url(./bg_image.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the background image covers the entire background */
    position: relative;
}

#a {
    font-size: larger;
    font-family: 'Times New Roman';
}

#input {
    opacity: 0.8;
    height: 50px;
    font-size: larger;
    width: 80%;
    margin: 10px auto;
}

#convert {
    height: 50px;
    width: 100px;
    font-size: large;
    margin: 10px auto;
}

#result {
    opacity: 0.8;
    width: auto;
    height: 50px;
    font-size: larger;
    margin: 10px auto;
}

footer {
    margin-top: 20px;
    color: black;
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman';
    font-weight: bold;
    width: 100%;
}

a {
    color: red;
    border: 1px solid yellow;
    background-color: yellowgreen;
    display: block;
    margin: 10px auto;
    width: 150px;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    font-style: italic;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 767px) {
    #input, #result, #convert {
        width: 80%;
    }

    input[type="radio"] {
        margin: 5px;
    }

    footer {
        margin-top: 50px;
    }

    /* Adjust background image for smaller screens */
    body {
        background-size: contain;
    }
}
